NEXT_PUBLIC_SUPABASE_URL=https://croclzeypelnpilxbzro.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_8AqhgPEjzr7HRUQkuiBVVA_PqTeQ-85
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_8AqhgPEjzr7HRUQkuiBVVA_PqTeQ-85
ADMIN_PASSWORD=your_secure_password
